// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
// html {
// 	<meta name="viewport" content="width=device-width, initial-scale=1">
// }


html, body {
	
	align-content: right;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	nav {
		display:flex;
		flex-direction: row;
		align-content: center;
		justify-content: space-between;
		margin: 10%;
		padding:10%;
		padding-bottom: 0%;
		margin-bottom: 0%;
		margin-top:5%;
		padding-top: 2%;

		@media(max-width: 500px){
			flex-direction: column;
			margin: 15%;
			padding-left: 25%;
			font-size: 1.2rem;
			padding-bottom: 0%;
		}
	}
	.one img {
		width: 22%;
		padding-bottom: 2%;
		@media(max-width: 500px){
			width: 90%;
		}
		
	}
	.forone {
		margin-top:5%;
		margin-left: 15%;
	 margin-right: 15%;
	 padding-top: 5%;
	 padding-bottom: 5%;
	

	}
	.one {
	
	margin: 10%;
	margin-top: 0%;
	 padding: 10%;
	 background-color: lightgray;
	 display: block;
	 padding-bottom: 10%;
	
	 .forone();
		h1{
			font-size: 3rem;
			@media(max-width:500px){
				font-size: 1.3rem;
			}
		}
		.passion {
			border-bottom:1px dotted black ;
			padding: 2%;
			padding-left: 0%;
		}
		.more {
			padding: 2%;
			padding-left: 0%;
			button {
				font-size: 1rem;
				padding:1%;
				margin-top: 5%;
				text-decoration: none;
				color: white;
				background-color: gray;
				border-radius: 5px;
			}
		}
	


	}
	.two {
		margin: 10%;
		margin-top: 0%;
		 padding: 10%;
		 padding-top:0%;
	 	// background-color: lightgray;
	 	display: flex;
		 padding-bottom: 10%;
		 
		 .Listen{
			 h2{
				 font-size: 2rem;
			 }
			 width: 100%;
		 }
		 .stuff{
			width: 100%;
			padding-left: 3%;
			margin-right: 0%;
			padding-right: 0%;
			li {
				text-decoration: none;
				list-style: none;
				border:1px solid black;
				padding-top:4%;
				padding-bottom: 4%;
				padding-left: 2%;
				padding-right: 10%;
			}
			h2{
				font-size: 2rem;
				padding-bottom: 3%;
			}
		}
	}		 
		// .liststuff(){ 
		// 	padding-top:1%;
		// 	padding-bottom:1%;
		// 	border-top: 1px solid black;
		// }
		// .displaystuff(){
		// 	display: flex;
		// 	flex-direction: row;
		// 	justify-content: space-between;
		// }
		
		 @background: lightgrey;

	.work {
				h2 {
					font-size: 2rem;	
				}
				margin-left: 15%;
				margin-right:15%;
				margin-bottom: 10%;
				margin-top: 0%;
				
				.title{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding-top:1%;
					padding-bottom:1%;
					border-top: 1px solid black;
				}
				.job1 {
					.title();
					border-top: 1px solid black;
					background-color: @background;
					
				}
				.job2 {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding-top:1%;
					padding-bottom:1%;
					border-top: 1px solid black;
				}
				.job3 {
					.job1();
					border-bottom:1px solid black;
				}
				li{
					text-decoration: none;
					display: flex;
					flex-direction: row;
				}
			}
			footer{
					background-color:grey;
					margin-left: 15%;
					margin-right: 15%;
					padding-top: 5%;
					padding-bottom: 2.5%;
					p {
						align-content: center;
						display: flex;
						justify-content: space-around;
					}
			}
		
		}